/*
    Base colors:
    #fff - white
    #f5f2f0 - lightgray (table)
    #c9c9c9 - middlegray (input)
    #969696 - one more gray (input, darker)
    #59595b - darkgray
    #e9222d - red
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

body {
    background-color:   #fff;
    color:              #59595b;
    font-family:        "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:            0px;
    margin:             0px;
    height:             100vh;
    display:            flex;
    flex-direction:     column;
    min-width:          300px;
}


footer {
    width:              100%;
    background-color:   #c9c9c9;
    min-height:         100px;
    padding-top:        20px;
    padding-bottom:     20px;
}

.container {
    max-width:      1200px;
    width:          100%;
    margin:         15px auto 0 auto;
}

.main {
    flex:           1;
    padding-left:   15px;
    padding-bottom: 15px;
}

a:visited, a:link {
    color:              rgb(89, 89, 91);
    text-decoration:    none;
}

a:hover {
    color: #e9222d;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
}

.title {
    margin:         20px auto; 
    width:          100%; 
    text-align:     center; 
    text-transform: uppercase; 
}

#orbit {
    width:              100%;
    height:             400px;
    /*background-color:   beige;*/
}

/*.aligner {
    display:            flex;
    align-items:        center;
    justify-content:    center;
}*/

@media screen and (min-width: 1215px)  {
    .main {
        padding-left:   0px;
    }
}