{% extends "index.html" %}
{% block title %}Matreshka Express Main Page{% endblock title %}
{% block content %}
<h1>Вход в систему</h1>

{% if form.errors %}
<p>Неправильное имя пользователя или пароль. Попробуйте еще раз</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У вас недостаточно прав, чтобы перейти на запрашиваемую страницу. Пожалуйста, войдите из-под пользователя с достаточными правами.</p>
    {% else %}
    <p>Для просмотра данной страницы, пожалуйста, войдите в систему.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' template_name='login.html'%}">
{% csrf_token %}

    <div class="fieldWrapper">
        <label>Имя пользователя</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">
        <label>Пароль</label><br>
        {{ form.password }}
    </div>
    <br>

<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock content %}