{% extends "index.html" %}
{% block title %}
    Добавление нового товара
{% endblock %}

{% block page_scripts %}

$(document).ready(function() {

    GetCategories();

    $('#parent_categories').change(function() {
        GetCategories();
    });

    function GetCategories()
    {
        $.ajax({
                url : "/store/get_subcategories/", // the endpoint
                type : "GET",
                dataType: 'json',
                contentType: "application/json",
                data : {
                    category : $('#parent_categories').val()
                }, // data sent with the post request
                // handle a successful response
                success : function(data, textStatus, jqXHR) {
                    var result = JSON.parse(data);

                    $('#categories').empty();

                    $.each(result, function (i, item) {
                        $('#categories').append($('<option>', {
                            value: item.pk,
                            text : item.fields.name
                        }));
                    });
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("error!");
                }
        });
    }

});

{% endblock %}

{% block content %}
    <h3>Новый товар</h3>

{{form.errors}}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<br>
<div class="fieldWrapper">
    <label>Родительская категория</label><br>
    {{ product_form.parent_category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Категория</label><br>
    {{ product_form.category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Название</label><br>
    {{ product_form.name }}
</div>
<br>
<div class="fieldWrapper">
    <label>Описание</label><br>
    {{ product_form.description }}
</div>

{% endblock %}
