{% extends "index.html" %}
{% block title %}
    Добавление нового товара
{% endblock %}

{% block page_scripts %}

$(document).ready(function() {

    $('#add_position').hide();
    GetCategories();

    $('#parent_categories').change(function() {
        GetCategories();
    });

    $('#categories').change(function() {
        GetDetails();
    });

    $('#add_position').click(function() {
        AddNewPosition();
    });

    $('.rmv_position').click(function(event) {
        RemovePosition(event.target);
    });

    function GetCategories()
    {
        $.ajax({
                url : "/store/get_subcategories/", // the endpoint
                type : "GET",
                dataType: 'json',
                contentType: "application/json",
                data : {
                    category : $('#parent_categories').val()
                }, // data sent with the post request
                // handle a successful response
                success : function(data, textStatus, jqXHR) {
                    var result = JSON.parse(data);

                    $('#categories').empty();

                    $.each(result, function (i, item) {
                        $('#categories').append($('<option>', {
                            value: item.pk,
                            text : item.fields.name
                        }));
                    });
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("error!");
                }
        });
    }

    function GetDetails()
    {
        $.ajax({
                url : "/store/get_product_details/", // the endpoint
                type : "GET",
                dataType: 'json',
                contentType: "application/json",
                data : {
                    category : $('#categories').val()
                }, // data sent with the post request
                // handle a successful response
                success : function(data, textStatus, jqXHR) {
                    $('#MainDetails').empty();
                    $('#SubDetails').empty();

                    main_details = data['main'];
                    sub_details = data['sub'];

                    var header = $('<h4>Основные характеристики товара</h4>');
                    $( "#MainDetails" ).append(header);
                    i=0;
                    for(key in main_details)
                    {
                        for(name in main_details[key])
                        {

                            var detail_label = $('<p id="' + i + '"></p>').text(name);

                            var detail_select = $('<select id="select_' + i +'" /><br>');
                            $.each(main_details[key][name], function (c, item) {
                                $('<option>', {
                                    value: item.id,
                                    text : item.stringValue
                                }).appendTo(detail_select);
                            });

                            $( "#MainDetails" ).append(detail_label).append(detail_select).append('<br>')   ;
                            i++;
                        }
                    }

                    var header = $('<h4>Дополнительные характеристики товара</h4>');

                    $( "#SubDetails" ).append(header).append('<table id="sub_details_table"/>');
                    $( "#sub_details_table" ).append('<tr id="header"/>');
                    $( "#sub_details_table" ).append('<tr id="position1"/>');

                    i=0;
                    for(key in sub_details)
                    {
                        for(name in sub_details[key])
                        {

                            var detail_label = $('<td><p id="sub_label_' + i + '_p_1"></p></td>').text(name);

                            var select_cell = $('<td></td>')
                            var detail_select = $('<select id="sub_select_' + i +'_p_1" />');
                            $.each(sub_details[key][name], function (c, item) {
                                $('<option>', {
                                    value: item.id,
                                    text : item.stringValue
                                }).appendTo(detail_select);
                            });
                            select_cell.append(detail_select);

                            $( "#header" ).append(detail_label);
                            $( "#position1" ).append(select_cell);
                            i++;
                        }
                    }
                    var count_label = $('<td><p id="count_label_p_1"></p></td>').text('Количество');
                    var count_input = $('<td><input id="count_input_p_1" type="text"/></td>');
                    var remove_btn = $('<td><input id="rmv_btn_p_1" class="rmv_position" type="button" value="Удалить"/></td>')

                    $( "#header" ).append(count_label);
                    $( "#position1" ).append(count_input).append(remove_btn);

                    $('#count_fieldWrapper').hide();
                    $('#add_position').show();
                    $('.rmv_position').hide();

                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("error!");
                }
        });
    }

    function AddNewPosition()
    {
        var position_tr = $('tr[id^="position"]:last');
        var num = parseInt( position_tr.prop("id").match(/\d+/g), 10 ) +1;
        var new_position = position_tr.clone().prop('id', 'position'+num );

        new_position.find('td').children().each(function(i, item){
            var ind = item.id.lastIndexOf('_');
            var new_id = item.id.substring(0, ind + 1);
            item.id = new_id + num;
        });

        $( "#sub_details_table" ).append(new_position);

        $('.rmv_position').click(function(event) {
            RemovePosition(event.target);
        });

        $('.rmv_position').show();
    }

    function RemovePosition(btn)
    {
        $('#'+btn.id).parent().parent().remove();
        var position_tr = $('tr[id^="position"]');
        if(position_tr.length < 2)
            $('.rmv_position').hide();
    }

});

{% endblock %}

{% block content %}
    <h3>Новый товар</h3>

{{form.errors}}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<br>
<div class="fieldWrapper">
    <label>Родительская категория</label><br>
    {{ product_form.parent_category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Категория</label><br>
    {{ product_form.category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Название</label><br>
    {{ product_form.name }}
</div>
<br>
<div class="fieldWrapper">
    <label>Описание</label><br>
    {{ product_form.description }}
</div>
<br>
<div class="fieldWrapper" id="count_fieldWrapper">
    <label>Количество</label><br>
    {{ product_form.count }}
</div>

<br>

<div id="MainDetails" >

</div>

<br>

<div id="SubDetails" >
</div>
<br>
<br>
<input type="button" value="Добавить позицию" id="add_position"/>
<br>
<br>
{% endblock %}
