{% extends "index.html" %}
{% block title %}
    Добавление нового товара
{% endblock %}

{% block page_scripts %}

$(document).ready(function() {
    $('#parent_categories').change(function() {
        alert("OK!");
        $.ajax({
                url : "/store/get_subcategories/", // the endpoint
                type : "GET", // http method
                data : {
                    category : $('#parent_categories').val()
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    var result = json;
                    alert("Success!");
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("error!");
                }
            });

    });
});

{% endblock %}

{% block content %}
    <h3>Новый товар</h3>

{{form.errors}}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<br>
<div class="fieldWrapper">
    <label>Родительская категория</label><br>
    {{ product_form.parent_category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Категория</label><br>
    {{ product_form.category }}
</div>
<br>
<div class="fieldWrapper">
    <label>Название</label><br>
    {{ product_form.name }}
</div>
<br>
<div class="fieldWrapper">
    <label>Описание</label><br>
    {{ product_form.description }}
</div>

{% endblock %}
