{% extends "base.html" %}
{% block title %}Matreshka Express Main Page{% endblock %}
{% block content %}
    {% load staticfiles %}
    <h2 class="title">Новые поступления</h2>
    {% for product in products %}
    <a href="{% url 'product' product.id %}">
        <div class="product-card">
            <div class="product-card-image">
                <img src="{% static 'store/test/test2.jpg' %}" />
            </div>
            <div class="product-card-description">
                <a href="{% url 'product' product.id %}">{{ product.name }}</a>
            </div>
            <div class="product-card-price">
                5000 руб.
            </div>
            <div class="product-card-buttons">
                <input type="submit" value="Купить" class="red-button" />
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}
{% block categories %}
    {% load base_category %}
    {% category_list %}
{% endblock %}