{% extends "index.html" %}
{% block title %}
    Matreshka Express {{ product.name }}
{% endblock %}
{% block content %}

    <div>
        <div class="images-container column">
            <img src="{{ main_image.image.url }}" class="big-image" alt="{{ product.name }}">
            {% for image in images %}
                <img src="{{ image.image.url }}" class="small-image" alt="{{ product.name }}">
            {% endfor %}
        </div>
        <div class="column">
            <div class="row" style="height:50px;">
                <div class="column">
                    <span class="info-title">{{ product.name }}</span>
                    <span style="">{{ product.manufacturer }}</span>
                </div>
                <div class="column">
                    <span class="info-title-right">{{ product.price }} руб.</span>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="row">
                <span class="info-title">Описание</span>
                {{ product.description }}
            </div>
            <!--<span class="info-title">Производитель</span>-->
            <div class="row">
                <form action="{% url 'add_to_cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}" />
                    <input type="submit" value="Добавить в корзину" class="red-button" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}

