<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://code.jquery.com/jquery-1.12.2.min.js"
              integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
              crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script>
        {% block page_scripts %}{% endblock %}
    </script>
</head>
<body>
    {% load staticfiles %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'matreshkalogo.jpg' %}" height="50" alt="Матрешка" class="img-rounded">
                    </a>
                </div>
                <div class="collapse navbar-collapse pull-right" style="padding-right:0px;">
                    <ul class="nav navbar-nav">
                        <li><a href="">Защита покупателя</a></li>
                        <li><a href="">Доставка</a></li>
                        <li><a href="">Как оплатить товар</a></li>
                        <li><a href="">Как сделать заказ</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="/accounts/manage">{{ request.user.username }}</a></li>
                        <li><a href="/accounts/logout">Выход</a></li>
                        {% else %}
                        <li><a href="/accounts/login">Вход</a></li>
                        <li><a href="/accounts/registration">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="content-strip content-strip-false">
        <div class="container sub-nav-container">
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Акции</button>
                        <button type="button" class="btn btn-default">Коллекции</button>
                        <button type="button" class="btn btn-default">Бестселлеры</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group pull-right">
                        <input type="text" id="criteria" name="criteria" class="form-control" />
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="Поиск" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container main-section">
        <div id="main" class="mainbody">
            <div class="col-md-3" style="padding-left: 0;">
                {% block categories %}{% endblock %}
            </div>
            <div class="col-md-9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </section>

    <!--<footer>
            <div class="container">
                <div class="row">
                    Footer
                </div>
            </div>
        </footer>-->
</body>
</html>